body {background-color: rgb(36, 36, 46);}
h1 {color: rgb(236, 238, 237);}
header {color: rgb(236,238,237); font-size: 200%; font-weight: bold;}
p {color: rgb(236, 238, 237);}
li {color: rgb(236, 238, 237);}